main {
  height: 100vh;
  background-color: #c6c6c6;
  position:relative;
}

.hijo1{
  width:30%;
  height:30%;
  background-color: rgb(75,250,150);
  position:absolute;
  left: 25px;
  top:25px;
  z-index:99;
}
.hijo2{
  width:30%;
  height:30%;
  background-color: rgb(250,0,150);
  position:relative;
  left: 35px;
  top:35px;
  box-shadow: 16px 16px 5px black;
}